<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>mylisner</listener-class>
    </listener>
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>registrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationServlet</servlet-name>
        <servlet-class>verificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyAccountServlet</servlet-name>
        <servlet-class>FacultyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midtermServlet</servlet-name>
        <servlet-class>midtermServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllmidtermMarks</servlet-name>
        <servlet-class>AllmidtermMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentWiseMidTermMarks</servlet-name>
        <servlet-class>EnrollmentWiseMidTermMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendance</servlet-name>
        <servlet-class>attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAttadance</servlet-name>
        <servlet-class>viewAttadance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>killsession</servlet-name>
        <servlet-class>killsession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAttandanceall</servlet-name>
        <servlet-class>viewAttandanceall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceupdate</servlet-name>
        <servlet-class>attendanceupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MidTermupdate</servlet-name>
        <servlet-class>MidTermupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facultyprofilee</servlet-name>
        <servlet-class>Facultyprofilee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationServlet</servlet-name>
        <url-pattern>/verificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyAccountServlet</servlet-name>
        <url-pattern>/FacultyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midtermServlet</servlet-name>
        <url-pattern>/midtermServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllmidtermMarks</servlet-name>
        <url-pattern>/AllmidtermMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentWiseMidTermMarks</servlet-name>
        <url-pattern>/EnrollmentWiseMidTermMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendance</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAttadance</servlet-name>
        <url-pattern>/viewAttadance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>killsession</servlet-name>
        <url-pattern>/killsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAttandanceall</servlet-name>
        <url-pattern>/viewAttandanceall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceupdate</servlet-name>
        <url-pattern>/attendanceupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MidTermupdate</servlet-name>
        <url-pattern>/MidTermupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facultyprofilee</servlet-name>
        <url-pattern>/Facultyprofilee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
